body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background-color: #292b2d;

    color: #eee;
    font-size: 14px;
}

.goog-inline-block {
    display: inline-block;
}


.ace-editor-container .ace-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon {
    font-size: 20px;
}
.toolbar-text {
    font-size: 14px;
    padding: 2px 5px 2px 5px;
}


#outersplitpane > .goog-splitpane-first-container {
    border-top-right-radius: 10px;
    background-color: #191919;
}

#innersplitpane > .goog-splitpane-second-container {
    border-top-left-radius: 10px;
    background-color: #191919;
}
.ace_gutter {
    border-radius: 10px 0 0 10px
}

.jsh-hackdetailsarea {
    border-radius: 10px 0 0 0;
    background-color: #191919;
    height: 100%;
    padding: 1em;
}

.jsh-reseditor {
    height: 100%;
}

.jsh-editorcontainer {
    height: 100%;
}

input[type="text"] {
    background-color: #eee;
    border: 1px solid white;
    border-radius: .25em;
    padding: .25em;
}

.toolbar-file-select {
    visibility: hidden;
}

.toolbar-file-select-wrapper {
    display:inline-block;
    width: 0;
    height: 0;
}

.jsh-file-drop-area {
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    border: 3px dashed white;
    z-index: 200;
    border-radius: 1em;
    font-size: 3em;
    text-align: center;
}

.jsh-file-drop-area-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.jsh-file-drop-area-content {
    position: relative;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.atd-modal-ui-app {
    position: absolute;
    height: 100%;
    width: 100%;

}

.atd-modal-ui-app-blur {
    -webkit-filter: blur(5px);
    -ie-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.atd-modal-ui-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(87, 87, 87);
    top: 0px;
    z-index: 100;
    -moz-opacity: 0.7;
    opacity: .6;
}

.close-btn {
    float: right;
}

.required-input {
    background-color: #d45252;
    padding: .25em .7em;
    position: relative;
    font-weight: bold;
    margin-left:1em;
    line-height:1.5em;
    border-radius:.15em;

    opacity: 0;
    -moz-opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.required-input-show {
    opacity: 1;
    -moz-opacity: 1;
}

.required-input::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color: #d45252;
    position: absolute;
    top:1px;     left:-.7em;
}

.hack-description {
    height: 4em;
}

.hack-description, .hack-name {
    width: 30em;
}