
@if (PROD_MODE) {
    .jsh-imageeditor {
        background-image: url(../images/imageeditorbg.gif);
        background-color: #191919;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px 0 0 0;
    }
} @else {

    .jsh-imageeditor {
        background-image: url(http://localhost:8080/jshack-test-web/images/imageeditorbg.gif);
        background-color: #191919;
        background-repeat: repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px 0 0 0;
    }
}


.jsh-imageeditor-image {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.jsh-imageeditor-path {
    position: relative;
    margin: auto;
    top: 5px;
    left: 0px;
    right: 0px;
    width: 400px;
    background-color: #191919;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    border-color: #292b2d;
    border-width: 3px;
    border-style: solid;
    font-weight: bold;
}