.jsh-resource-restriction-pane hr {
    border: none;
    border-bottom: 1px solid gray;
    margin-right: 1em;
}

.jsh-resource-restriction-pane .jsh-empty-notice {
    font-style: italic;
    color: #808080;
}