.jsh-resource-restriction-pane hr {
    border: none;
    border-bottom: 1px solid gray;
    margin-right: 1em;
}

.jsh-resource-restriction-pane .jsh-empty-notice {
    font-style: italic;
    color: #808080;
}

.jsh-restriction-editor {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    border: 1px solid #808080;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0.25em 0.25em 0.1em #111111;
}