.jsh-resource-restriction-pane hr {
    border: none;
    border-bottom: 1px solid gray;
    margin-right: 1em;
}

.jsh-resource-restriction-pane .jsh-empty-notice {
    font-style: italic;
    color: #808080;
}

.jsh-restriction-editor {
    vertical-align: top;
}

.jsh-injection-point-pane-item {
    width: 16em;
}

.jsh-label {
    margin-bottom: 0.5em;
    text-align: center;
}

.jsh-injection-point-pane-item-content {
    text-align: center;
}

.injection-point-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.injection-point-id:before {
    content: '(';
}
.injection-point-id:after {
    content: ')';
}

.jsh-url-restriction-editor-options input {
    width: 30em;
}
.jsh-entitlement-restriction-editor-options input {
    width: 20em;
}

.jsh-advanced-restriction-editor-options .ace-editor-container .ace-editor {
    width: 35em;
    height: 10em;

    border: 1px solid #232323;
}