{namespace jsh.soy}

/**
  *
  */
{template .hackDetailsArea}
    <div>
        Identifier: <input><br>
        Hack Name: <input><br>
        Version: <input><br>
        Description: <input><br>
        Max Bb Version: <input><br>
        Min Bb Version: <input><br>
    </div>
{/template}